@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

$font-family-base: "Lexend", sans-serif;
$primary: #4E6A57;
$secondary: #D2D0BA;
$danger: #CB847C;
$light: #EFEEE6;
$dark: #232B2F;

@import '~bootstrap/scss/bootstrap';