// Import functions
@import '~bootstrap/scss/functions';

// Custom classes
.custom-carousel {
  .carousel-control-prev, .carousel-control-next {
    bottom: 3rem;
  }
}

.single-carousel {
  .carousel-control-prev, .carousel-control-next {
    display: none;
    visibility: hidden;
  }
}

// Default variable overrides
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
$font-family-base: "Lexend", sans-serif;

$primary: #4E6A57;
$secondary: #D2D0BA;
$danger: #CB847C;
$info: #4E606A;
$light: #EFEEE6;
$dark: #232B2F;

// Import default Bootstrap variables
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/variables-dark';

// Default map overrides
$custom-colors: (
  "danger-dark": #92433A,
  "secondary-dark": #4A4830
);
$theme-colors: map-merge($theme-colors, $custom-colors);

$custom-font-sizes: (
  7: $font-size-base * 0.75
);
$font-sizes: map-merge($font-sizes, $custom-font-sizes);

// Import the rest of Bootstrap
@import '~bootstrap/scss/bootstrap';